<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Panier</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngIf="products">
    <div class="card container mb-3" *ngFor="let product of products" >
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{product.data.name}}</h5>
          <button class="btn btn-outline-danger" (click)="onRemoveProductFromBasket(product.data.id)">
            <span class="fa fa-trash-o"></span>
          </button>
        </div>
        <p class="card-text lead">{{product.data.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">prix : {{product.data.price | currency}}</li>
        <li class="list-group-item">categorie : {{product.data.category}}</li>
        <li class="list-group-item">quantité :
          <span class="badge text-bg-secondary text-white dot ms-2 me-1"
                (click)="onDecrementProductFromBasket(product)">-</span>
          <span>{{product.quantity}}</span>
          <span class="badge text-bg-secondary text-white dot ms-1"
                (click)="onIncrementQuantityProduct(product)">+</span>
        </li>
        <li class="list-group-item">
          <span class="badge rounded-pill bg-success">
            <span class="fa fa-star me-1"></span>{{product.data.rating}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
